:root {
    --bg-color: #0f172a;      
    --card-bg: #1e293b;      
    --text-color: #f1f5f9;   
    --text-muted: #94a3b8;    
    --accent-color: #6d79eb;   
    --border-color: #334155;  
    --button-bg: #334155;
    --button-hover: #475569;
    --score-text: #ffffff;
    --highlight-color: #a487f4;
    --sticky-bg: rgba(30, 41, 59, 0.9); 
    font-family: 'Nunito Variable', sans-serif;
}

.light-mode {
    --bg-color: #f4f4f4;   
    --card-bg: #ffffff;       
    --text-color: #0f172a;  
    --text-muted: #64748b;  
    --accent-color: #322f64; 
    --border-color: #e2e8f0;   
    --button-bg: #f1f5f9;
    --button-hover: #322f64a7;
    --highlight-color: #443178;
    --sticky-bg: rgba(255, 255, 255, 0.9); 
}
.theme-wrapper {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    padding: 20px;
}
